
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title><%= htmlWebpackPlugin.options.title %></title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="shortcut icon" href="/favicon.png">
<% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
<% } %>
<script src="//ced.sascdn.com/tag/620/smart.js"; type="text/javascript" async></script>
<script type="text/javascript">
    var sas = sas || {};
    sas.cmd = sas.cmd || [];
    sas.cmd.push(function() {
        sas.setup({ networkid: 620, domain: "//www5.smartadserver.com", async: true });
    });
</script>
</head>
<body>
<% if (htmlWebpackPlugin.options.window) { %>
  <script>
    <% for (var varName in htmlWebpackPlugin.options.window) { %>
      window['<%=varName%>'] = <%= JSON.stringify(htmlWebpackPlugin.options.window[varName]) %>;
    <% } %>
  </script>
<% } %>
<div id="root"></div>
<script src="<%= htmlWebpackPlugin.options.vendorsFile %>"></script>
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
<script src="<%= htmlWebpackPlugin.options.coreFile %>"></script>
</body>
</html>
